numpy
# pip install -r requirements.txt
# pip install --user -r requirements.txt
# pip install ImageDraw

# PIL
Pillow
# ImageDraw
# ImageFont
tensorflow
#tensorflow-gpu
keras
dill
layer
# or git clone --recursive for layer submodule

# in training:
cairocffi
editdistance

# ONLY FOR MOUSE PREDICTION:
pyscreenshot
matplotlib
# sudo apt-get install python-tk  # Tkinter
# sudo apt-get install python3-tk # Tkinter
