# pip install -r requirements.txt
# pip install --user -r requirements.txt
# pip install ImageDraw

numpy

# PIL -> Pillow
Pillow

# ImageDraw
# ImageFont

#tensorflow
#tensorflow-gpu
#pipi2 https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.5.0-cp27-none-linux_x86_64.whl # NO SSE4.1

keras
dill
layer
# or git clone --recursive for layer submodule

# in training:
cairocffi
editdistance

# ONLY FOR MOUSE PREDICTION:
pyscreenshot
matplotlib
# sudo apt-get install python-tk  # Tkinter
# sudo apt-get install python3-tk # Tkinter
